.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  padding: 0 15px 35px;
}

@media (min-width: 0) and (max-width: 870px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 870px) and (max-width: 1280px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.statContainer {
  margin: 0 30px 40px;
}
