.container {
    text-align: center;
    margin: 1.5rem 3rem;
    padding: 25px 25px 5px;
    border-radius: 12px;
    backdrop-filter: blur(30px);
    transition: all 0.2s ease;
}

.container:hover {
    cursor: pointer;
}

.container div h1 {
    font-size: 2.2rem;
    font-weight: 700;
}

.container div p {
    color: white;
    font-size: 1.5rem;
}

.htmlContainer {
    margin: 1.2rem;
    padding: 1.2rem;
}

.htmlContainer div {
    border: 1px solid rgb(100, 98, 98);
    border-radius: 12px;
}

.htmlContainer div span {
    padding-bottom: 5px;
    color: rgb(165, 89, 165);
    border-bottom: 1px solid white;
    margin: 0 2rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.htmlContainer div p {
    border-bottom: 1px solid rgb(100, 98, 98);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    font-size: 1.5rem;
    margin: 0 2rem;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.titleContainer i {
    font-size: 3rem;
}