.formContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem 8rem;
}

.formContainer input {
    padding: 1.5rem;
    margin: 10px 0;
    text-align: center;
    font-size: 1.5rem;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
    color: #50cb93;
}

.formContainer input:focus,
.formContainer input:active,
.formContainer input:hover {
    outline: none;
    border-radius: 1.2rem;
    box-shadow: 0 0 10px rgba(71, 58, 121, 0.8);
}

.formContainer button {
    color: rgb(80, 203, 147);
    border: 1px solid rgba(71, 58, 121, 0.8);
    padding: 1.2rem;
    margin-top: 2rem;
    font-size: 2rem;
    box-shadow: 0 0 1rem rgba(71, 58, 121, 0.8);
    backdrop-filter: blur(15px);
    background-color: rgba(71, 58, 121, 0.1);
    transition: all 0.2s ease;
}

.formContainer button:disabled {
    box-shadow: none;
}

.formContainer button:hover {
    border-radius: 1.2rem;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.inputContainer input {
    flex-grow: 0.96;
}

.hideShow {
    margin: 10px 0 !important;
}