.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Cairo', sans-serif;
    margin-bottom: 15px;
}

.container button {
    backdrop-filter: blur(20px);
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .container button{
        font-size: 8px;
    }
}