.container {
  text-align: center;
  margin: 5px 15px;
  padding: 5px;
  border-radius: 12px;
  backdrop-filter: blur(30px);
  background-color: #5c527f2f;
  transition: all 0.2s ease;
  border: 1px solid #5c527f;
}

.container:hover {
  background-color: #5c527f75;
}

.container.active {
  background-color: #ad97fc75;
}

.container:hover {
  cursor: pointer;
}

.container h1 {
  font-size: 2.2rem;
  padding: 10px 0;
  font-weight: 700;
  color: #f6d167;
}

.container p {
  color: white;
  font-size: 1.5rem;
}
