.container {
    /* backdrop-filter: blur(20px); */
    background-color: rgba(0, 0, 0, 0.6);
}

.container div {
    background-color: rgba(0, 0, 0, 0.8);
}

.container div:first-of-type {
    border-radius: 12px;
}

.container div div div div {
    color: #50cb93;
}

.headerContainer {
    border: none;
    overflow: hidden;
    display: flex;
}

.headerContainer button {
    border: none;
    font-size: 1.4rem;
}

.buttonsContainer {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    background-color: none;
}