.container {
    text-align: center;
}

.headerContainer {
    margin: 12rem 8rem;
}

.headerContainer h1 {
    color: rgb(71, 58, 121);
    font-size: 4.5rem;
    font-weight: 700;
}

.headerContainer p {
    color: #50cb93;
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-top: 2.5rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 8rem;
}

.formContainer input {
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
    color: #50cb93;
}

.formContainer input:focus,
.formContainer input:active,
.formContainer input:hover {
    outline: none;
    border-radius: 1.2rem;
    box-shadow: 0 0 10px rgba(71, 58, 121, 0.8);
}

.formContainer button {
    color: rgb(80, 203, 147);
    border: 1px solid rgba(71, 58, 121, 0.8);
    padding: 1.2rem;
    margin-top: 2rem;
    font-size: 2rem;
    box-shadow: 0 0 1rem rgba(71, 58, 121, 0.8);
    backdrop-filter: blur(15px);
    background-color: rgba(71, 58, 121, 0.1);
    transition: all 0.2s ease;
}

.formContainer button:disabled {
    box-shadow: none;
}

.formContainer button:hover {
    border-radius: 1.2rem;
}

.copyright {
    color: rgba(255, 255, 255, 0.2);
    font-size: 1.4rem;
    letter-spacing: 1px;
    animation-name: bounce;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(2px);
    }
}

.setPassBtn {
    color: #50cb93;
    font-size: 4rem;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 2rem;
    right: 1.5rem;
    transition: all 0.3s;
    background-color: none;
    border: 1px solid;
    padding: 1.3rem 1.6rem;
    display: flex;
    box-shadow: -5px 0 25px 0 #5c527f38,
        0 0 25px 0 #d6013650,
        5px 0 5px 0 #66de943a;
}

.setPassBtn:hover {
    color: rgb(71 58 121);
    box-shadow: -5px 0 25px 0 #5c527f,
        0 0 25px 0 #d60136,
        5px 0 5px 0 #66de94;
}