.container {
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

.row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 10px;
}