.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(71, 58, 121, 0.5);
    margin: 5px 10px;
}

.nameIndexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nameIndexContainer span {
    margin-right: 12px;
}

.nameIndexContainer span i {
    font-size: 2.5rem;
    margin-top: 5px;
    display: block;
    color: #50cb94aa;
}

.nameIndexContainer h3 {
    color: #50cb93;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formContainer input {
    font-size: 1.8rem;
    color: #50cb93;
    margin-right: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

.formContainer input:focus {
    outline: none;
    border: 1px solid rgb(85, 75, 122);
    box-shadow: 0 0 12px rgb(85, 75, 122);
}

.formContainer button {
    color: rgb(92, 53, 150);
    border: 1px solid rgb(85, 75, 122);
    transition: all 0.2s;
    font-size: 1.1rem;
    padding: 0 5px;
}

.formContainer button:hover {
    color: #50cb93;
    border: 1px solid #50cb93;
}

.editButton {
    background-color: none;
    border: none;
    outline: none;
    width: fit-content;
}

.editButton {
    color: rgb(92, 53, 150);
    font-size: 1.5rem;
}

.editButton:hover {
    color: rgb(114, 90, 148);
}

@media only screen and (max-width: 600px) {
    .formContainer {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}