.filtersContainer {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 4rem);
    margin: 2rem;
}

.filtersContainer button{
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgb(71, 58, 121);
    color: rgb(71, 58, 121);
    padding: 2rem 0;
    font-size: 1.2rem;
    width: 16.75%;
}

.filtersContainer button:hover,
.filtersContainer .active {
    color: rgb(80, 203, 147);
    background-color: rgba(80, 203, 147, 0.3);
    border: 1px solid #50cb93;
}

@media (max-width: 480px) {
    .filtersContainer {
        margin: .5rem;
        width: calc(100% - 1rem);
    }

    .filtersContainer button {
        font-size: 1rem;
        padding: 1rem;
    }
}