.filtersContainer {
    display: flex;
    justify-content: space-between;
    margin: 4rem;
}

.filtersContainer button{
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgb(71, 58, 121);
    color: rgb(71, 58, 121);
    padding: 2rem;
    font-size: 1.2rem;
}

.filtersContainer button:hover,
.filtersContainer .active {
    color: rgb(80, 203, 147);
    background-color: rgba(80, 203, 147, 0.3);
    border: 1px solid #50cb93;
}

@media (max-width: 480px) {
    .filtersContainer {
        margin: .5rem;
    }

    .filtersContainer button {
        font-size: 1rem;
        padding: 1rem;
    }
}