.titleContainer {
    margin: 1rem;
}

.featureContainer p {
    margin-top: 1rem;
}

.flag {
    width: 3.6rem;
    cursor: pointer;
}

.title {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    transition: all 0.2s;
    color: #50cb93;
    margin-right: 10px;
}

.title:hover {
    color: rgb(71, 58, 121);
}