/* Local Fonts */
@import "./styles/fonts/fontiranNumerals.css";
@import "./styles/fonts/fontiranWeb.css";

html {
  font-size: 62.5%;
}

* {
  font-family: iranyekan !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}